@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-topbar-start {
    & .fi-logo {
        color: white;
    }
}
.fi-topbar{
    background-color: #005a88;
}
.fi-topbar .fi-topbar-item-label{
    color: white;
    font-weight: 600;
}
.fi-topbar .fi-topbar-item .fi-topbar-item-icon{
    color: white;
}
.fi-topbar .fi-topbar-item .fi-topbar-group-toggle-icon {
    color: white;
}
.fi-topbar-item-btn {
    border-radius: 8px;
    
    &:hover {
        @media (hover: hover) {
            background-color: rgba(255, 255, 255, 0.15);
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }
    }
}

.fi-topbar-item {
    &.fi-active {
        & .fi-topbar-item-btn {
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            
            &:hover {
                @media (hover: hover) {
                    background-color: rgba(255, 255, 255, 0.25);
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

.fi-ta-table thead  tr th {
    background-color: #005a88;
}

.fi-ta-header-cell{
    color: white;
}

.fi-ta-header-group-cell{
    color: white;
}



.fi-ta-table {
    & > tbody {
        :where(& > :not(:last-child)) {
            border-bottom-color: rgb(180, 180, 180);
            border-top-color: rgb(180, 180, 180);
        }
    }
}

.fi-ta-table {
    :where(& > :not(:last-child)) {
        border-bottom-color: rgb(180, 180, 180);
        border-top-color: rgb(180, 180, 180);
    }
}

.fi-ta-ctn {
    border: 1px solid rgb(180, 180, 180);
    :where(& > :not(:last-child)) {
        border-bottom-color: rgb(180, 180, 180);
        border-top-color: rgb(180, 180, 180);
    }
}



.fi-input-wrp {
    border: 1px solid rgb(180, 180, 180);
}


.fi-ta-text {
    &:not(.fi-inline) {
        padding-block: calc(var(--spacing)* 2);
    }
}
.fi-ta-row {
    & .fi-ta-group-header {
        padding-block: calc(var(--spacing)* 1.5);
    }
}

.fi-ta-header-cell {
    padding-block: calc(var(--spacing)* 2);
}
.fi-ta-header-group-cell {
    padding-block: calc(var(--spacing)* 1.5);
}

.fi-ta-cell {
    &.fi-ta-selection-cell {
        padding-block: calc(var(--spacing)* 2);
    }
}

.fi-ta-cell {
    &:has(.fi-ta-actions) {
        padding-block: calc(var(--spacing)* 2);
    }
}

.fi-ta-cell {
    border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
}
.fi-ta-header-cell {
     border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
}


.fi-ta-cell .fi-checkbox-input{
    border: 1px solid rgb(71, 71, 71);
}

